[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
X-Nemo-Application-Type=generic
Name=Music Explorer
Icon=harbour-musicex
Exec=sailfish-qml harbour-musicex

X-Desktop-File-Install-Version=0.26

[X-Sailjail]
Permissions=Internet;Audio;Bluetooth;Downloads;MediaIndexing;Music;RemovableMedia;UserDirs;Videos;WebView
OrganizationName=app.qml
ApplicationName=musicex

